@import url(font-Iransansweb.css);
@import url(reset.css);

body {
  background-color: #eee;
  padding: 70px 20px;
  direction: rtl;
}
h2 {
  font-size: 23px;
}
h4 {
  font-size: 18px;
  color: #3f3f3f;
}
.container {
  max-width: 750px;
  height: 500px;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 0 20px #666;
}
/* right container : */
.right-container {
  position: relative;
  width: 50%;
  height: 100%;
  overflow: hidden;
}
.right-container .overlay-left {
  background: linear-gradient(to right bottom, #8a2387, #e94057, #f27121);
  width: 100%;
  height: 100%;
  color: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 500;
  padding: 15px;
  transition: all 0.5s ease;
  position: absolute;
  top: 0;
  left: 0;
}
.right-container .overlay-left * {
  margin-bottom: 20px;
}
.right-container .overlay-left #sign-up {
  border: 1px solid #fff;
  background-color: transparent;
  padding: 5px 50px;
  color: #fff;
  border-radius: 5px;
  transform: scale(0.95);
  transition: transform 0.3s ease;
}
.right-container .overlay-left #sign-up:hover {
  transform: scale(1);
}
.right-container .sign-up-form {
  background-color: #fff;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 40px;
  transition: all 0.5s ease;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: -1;
}
.right-container .sign-up-form .sign-up-by-social h4 {
  margin-bottom: 35px;
}
.right-container .sign-up-form .social-icons {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 35px;
}
.right-container .sign-up-form input:not(#sign-up-submit) {
  padding: 7px 10px;
  width: 100%;
  margin-bottom: 20px;
  background-color: #f3f3f3;
  border: 0;
  border-radius: 5px;
}
.right-container .sign-up-form input#sign-up-submit {
  border: 0;
  background-color: #4bc45b;
  color: #fff;
  padding: 7px;
  margin-top: 7px;
  width: 50%;
  border-radius: 5px;
  transform: scale(0.95);
  transition: transform 0.3s ease;
}
.right-container .sign-up-form input#sign-up-submit:hover {
  transform: scale(1);
}
.right-container .sign-up-form input::placeholder {
  font-size: 15px;
  opacity: 0.6;
}
.right-container .sign-up-form input::-moz-placeholder {
  font-size: 15px;
  opacity: 0.4;
}
/* ------------------------------------------------ */
/* left container : */
.left-container {
  position: relative;
  width: 50%;
  height: 100%;
  overflow: hidden;
}
.left-container .overlay-right {
  background: linear-gradient(to right, #fdc830, #f37335);
  width: 100%;
  height: 100%;
  color: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 500;
  padding: 15px;
  transition: all 0.5s ease;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: -1;
}
.left-container .overlay-right * {
  margin-bottom: 20px;
}
.left-container .overlay-right #sign-in {
  border: 1px solid #fff;
  background-color: transparent;
  padding: 5px 50px;
  color: #fff;
  border-radius: 5px;
  transform: scale(0.95);
  transition: transform 0.3s ease;
}
.left-container .overlay-right #sign-in:hover {
  transform: scale(1);
}
.left-container .sign-in-form {
  background-color: #fff;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 40px;
  transition: all 0.5s ease;
  position: absolute;
  top: 0;
  left: 0;
}
.left-container .sign-in-form .sign-in-by-social h4 {
  margin-bottom: 35px;
}
.left-container .sign-in-form .social-icons {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 35px;
}
.left-container .sign-in-form input:not(#sign-in-submit) {
  padding: 7px 10px;
  width: 100%;
  margin-bottom: 20px;
  background-color: #f3f3f3;
  border: 0;
  border-radius: 5px;
}
.left-container .sign-in-form input#sign-in-submit {
  border: 0;
  background-color: #4b6bc4;
  color: #fff;
  padding: 7px;
  margin-top: 7px;
  width: 50%;
  border-radius: 5px;
  transform: scale(0.95);
  transition: transform 0.3s ease;
}
.left-container .sign-in-form input#sign-in-submit:hover {
  transform: scale(1);
}
.left-container .sign-in-form input::placeholder {
  font-size: 15px;
  opacity: 0.6;
}
.left-container .sign-in-form input::-moz-placeholder {
  font-size: 15px;
  opacity: 0.4;
}
.left-container .sign-in-form .forget-password {
  text-align: center;
}
.left-container .sign-in-form .forget-password a {
  display: inline-block;
  margin-top: 35px;
  font-size: 16px;
  color: #4b6bc4;
}
.social-icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  line-height: 35px;
  border: 1px solid #a8a8a8;
  border-radius: 50%;
  transition: background-color 0.3s ease;
}
.social-icons a:nth-child(1) {
  color: #6089fa;
}
.social-icons a:nth-child(2) {
  color: #ff1414;
}
.social-icons a:nth-child(3) {
  color: #1917a0;
}
.social-icons a:nth-child(1):hover {
  background-color: #6089fa;
  color: #fff;
}
.social-icons a:nth-child(2):hover {
  background-color: #ff1414;
  color: #fff;
}
.social-icons a:nth-child(3):hover {
  background-color: #1917a0;
  color: #fff;
}
